<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab Information</title>
    {% extends 'base_navbar.html' %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/show_info.css' %}">
</head>
<body>
{% block content %}
<div class="student-profile py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                        <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Lab Information</h3>
                    </div>
                        <table class="table table-bordered">
                            <tr>
                                <th width="30%">Имя</th>
                                <th width="30%">Преподаватель</th>
                                <th width="30%">Ученик</th>
                                <th width="30%">Оценка</th>

                            </tr>
                            {% for lab in labs %}
                            <tr>
                                <td>{{lab.name}}</td>
                                <td>{{lab.tutor_id}}</td>
                                <td>{{student}}</td>

                                <td>{{lab.mark}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>